[submodule "doc/stm32"]
	path = doc/stm32
	url = git@github.com:bdmihai/stm32-doc
[submodule "qbs/modules/stm32"]
	path = qbs/modules/stm32
	url = git@github.com:bdmihai/stm32-qbs
[submodule "source/boot"]
	path = source/boot
	url = git@github.com:bdmihai/stm32-boot
[submodule "source/runtime"]
	path = source/runtime
	url = git@github.com:bdmihai/stm32-runtime
[submodule "source/hal"]
	path = source/hal
	url = git@github.com:bdmihai/stm32-hal
[submodule "source/cmsis"]
	path = source/cmsis
	url = git@github.com:bdmihai/stm32-cmsis
[submodule "source/freertos"]
	path = source/freertos
	url = git@github.com:bdmihai/stm32-freertos
